<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.can_astg_mobile"> <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:label="Smart Weight"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        
        android:usesCleartextTraffic="true"> 
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            ...>
            </activity>
        </application>
</manifest>